.input-range {
  border: var(--border-in-light);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  font-size: var(--text-xs);
  display: flex;
  justify-content: space-between;
  width: 100px;
  min-width: 80px;
  max-width: 120px;
  flex-shrink: 0;

  input[type="range"] {
    max-width: calc(100% - 30px);
  }
}
